#footer= 
  script(async='', src='//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js')
  span#busuanzi_container_site_pv
    | 总访问量
    span#busuanzi_value_site_pv
    | 次
  span.post-meta-divider |
  span#busuanzi_container_site_uv
    | 总访客
    span#busuanzi_value_site_uv
    | 人
  span.post-meta-divider |
  'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow') 版权所有 All Rights Reserved.
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  浙ICP备18051152号.
  | Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
