#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  浙ICP备18051152号
  |
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  浙ICP备18051152号
